@import '../styles/globals.css';

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply grid place-items-center min-w-[320px] min-h-screen relative m-0 bg-background text-foreground;
  }
}

/* cool Bun background animation 😎 */
body {
  background: url('./bg.jpg');
  background-size: cover;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 256px 224px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

@layer utilities {
  /* 隐藏滚动条 —— 兼容所有主流浏览器 */
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE 和 Edge */
    scrollbar-width: none; /* Firefox */
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0px 0px 0px 1000px rgba(128, 128, 128, 1) inset !important;
  -webkit-text-fill-color: white !important;
  background-color: transparent;
}
